body
  background-color: $body-background

hr
  border-color: $line-color

.center-block-container
  +center-block-container

.center-block-content
  +center-block-content

%page-section
  padding:
    top: 50px
    bottom: 54px

.page-section
  @extend %page-section

.content-block
  margin-bottom: $grid-gutter-width

.content-block-sm
  margin-bottom: $grid-gutter-width/2

.content-block-lg
  margin-bottom: $grid-gutter-width*2

.content-block-horizontal
  padding:
    left: $grid-gutter-width
    right: $grid-gutter-width

.content-block-horizontal-sm
  padding:
    left: $grid-gutter-width/2
    right: $grid-gutter-width/2
