body
  background-color: $body-background

.app-cover
  //min-height: 600px
  //min-height: 100vh
  //@media screen and (min-height: 464px)
    min-height: 464px
    min-height: 70vh
  background:
    repeat: no-repeat
    size: cover
    position: center top

.app-cover--plans
  background-image: image-url('plans-cover.jpg')

hr
  border-color: $line-color

.center-block-container
  +center-block-container

.center-block-content
  +center-block-content


.content-block
  margin-bottom: $grid-gutter-width

.content-block-sm
  margin-bottom: $grid-gutter-width/2

.content-block-lg
  margin-bottom: $grid-gutter-width*2

.content-container
  padding:
    left: $grid-gutter-width
    right: $grid-gutter-width

.content-container-sm
  padding:
    left: $grid-gutter-width/2
    right: $grid-gutter-width/2
