body
  color: $text-color
  font-weight: 200

small,
.small
  font-size: $font-size-smaller

@each $s in large $font-size-large $line-height-large, larger $font-size-larger $line-height-larger, larger-lg $font-size-larger-lg $line-height-larger-lg, base $font-size-base $line-height-base, small $font-size-small $line-height-base, smaller $font-size-smaller $line-height-base
  .text-size-#{nth($s, 1)}
    font-size: nth($s, 2)
    line-height: nth($s, 3)
