.app-cover
  //min-height: 600px
  //min-height: 100vh
  //@media screen and (min-height: 464px)
    min-height: 464px
    min-height: 70vh
  background:
    repeat: no-repeat
    size: cover
    position: center top

.app-cover--plans
  background-image: image-url('plans-cover.jpg')


.app-cover__content
  color: #fff
  padding:
    top: 80px
    bottom: 130px

.app-cover__content--sm
  padding:
    top: 20px
    bottom: 120px

.app-cover__content-icon
  font-size: 60px
  margin-bottom: 20px
  color: rgba(#fff, 0.5)

.app-cover__content-title
  color: #fff
  font-size: $font-size-largest
  margin-bottom: 36px

.app-cover__content-subtitle
  color: rgba(#fff, 0.8)
  font-size: $font-size-larger
