.btn-success
  background: linear-gradient(0deg, $gradient-success-top, $gradient-success-bottom)
  box-shadow: inset 0 0 0 1px rgba(#000, 0.1)
  text-shadow: 0 1px 0 rgba(#000, 0.1)
  transition: box-shadow 0.2s ease
  &, &:hover, &:focus
    border: none
  &:hover
    box-shadow: inset 0 0 1px 1px rgba(#000, 0.2), inset 0 0 0 500px rgba($gradient-success-top, 0.5)


.btn-primary
  background: linear-gradient(0deg, $gradient-primary-top, $gradient-primary-bottom)
  box-shadow: inset 0 0 0 1px rgba(#000, 0.1)
  text-shadow: 0 1px 0 rgba(#000, 0.1)
  &, &:hover, &:focus
    border: none
  &:hover
    box-shadow: inset 0 0 1px 1px rgba(#000, 0.2), inset 0 0 0 500px rgba($gradient-primary-top, 0.5)

.btn-link
  color: $link-color
  transition: color 0.2s ease
  &, &:hover, &:focus
    background: none
    outline: none
    text-decoration: none
  &:hover
    color: $link-color-hover

.btn-link--blue-light
  &, &:focus
    color: $c-blue-light
  &:hover
    color: $c-blue


.btn-wide
  padding:
    left: $grid-gutter-width/2
    right: $grid-gutter-width/2

.btn-wide-lg
  padding:
    left: $grid-gutter-width
    right: $grid-gutter-width
