.form__container
  padding:
    top: 50px
    bottom: 73px

.form__container--gray-lightest
  background: $c-gray-lightest

@each $type in text, email, number, tel
  input[type="#{$type}"]
    &.form-control
      color: $text-color
      &, &:hover, &:focus
        box-shadow: none
        outline: none
        border: 1px solid $c-gray-light
      &:focus
        border-color: $brand-primary

.input-group--plain
  .form-control
    &:first-child,
    &:last-child
      border-radius: $input-border-radius $input-border-radius $input-border-radius $input-border-radius
